body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
}
form {
  display: flex;
}
h1 {
  color: white;
  margin-top: 3%;
}
h5 {
  opacity: 0.5;
}
.input1,
.input2 {
  padding: 15px;
}
.input1 {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px;
}
.input2 {
  background-color: black;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#map {
  width: 100%;
  height: 60vh;
  z-index: -1;
}
.leaflet-grab {
  cursor: auto;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-bottom: 2em; */
  background-image: url("images/pattern-bg.png");
  height: 40vh;
}
.details {
  padding: 20px;
  display: flex;
  top: 27vh;
  justify-content: center;
  left: 15%;
  width: 70%;
  height: 25%;
  position: absolute;
  z-index: 1;
  background-color: white;
  border-radius: 10px;
}

.ipAddress,
.location,
.timezone,
.isp {
  width: 25%;
  text-align: left;
  padding-left: 5%;
  padding-bottom: 3%;
}

.location p {
  margin: 5px;
}

@media (min-width: 720px) and (max-width: 1023px) {
  h1 {
    margin-top: 10%;
  }
  header {
    height: 30vh;
  }
  #map {
    height: 70vh;
  }
  .details {
    top: 20vh;
    width: 90%;
    height: 25vw;
    left: 5vw;
    box-sizing: border-box;
  }
  h2 {
    font-size: 1em;
  }
}
@media (max-width: 768px) {
  h1 {
    margin-top: 7%;
  }
  @media (min-width: 530px) and (max-width: 540px) {
    h1 {
      margin-top: 2%;
    }
  }
}

@media (max-width: 580px) {
  h5 {
    margin-top: 5px;
  }
  h2 {
    font-size: 1.1em;
  }
  header {
    height: 40vh;
  }
  #map {
    height: 60vh;
  }
  .details {
    flex-direction: column;
    height: auto;
    width: 80vw;
    left: 10%;
    box-sizing: border-box;
    top: 20vh;
  }

  .input1 {
    width: 70vw;
  }
  .ipAddress,
  .location,
  .timezone,
  .isp {
    width: initial;
    text-align: center;
    padding-left: 0;
    padding-bottom: 0;
  }
  @media (max-width: 375px) {
    h5 {
      margin: 0;
    }
    main {
      top: 22vh;
    }
    @media (max-width: 280px) {
      h1 {
        font-size: 1.5em;
        margin-top: 10%;
      }
      .input1 {
        width: 65vw;
      }
    }
  }
}
